{% extends "inicio/encabezado.html" %}

{%block titulo%}Principal{% endblock %}

{% block contenido %}

<!-- Contenido Principal-->
	 	<!-- Tabla de Alumnos -->
		 <table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Foto</th>
					<th>Matricula</th>
					<th>Nombre</th>
					<th>Carrera</th>
					<th>Turno</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">
						<img src="" alt="" class="img-media">
					</td>
					<td class="text-semibold">UTM1234TIC</td>
					<td class="muted">Nathalia</td>
					<td class="muted">TIC</td>
					<td class="muted">Matutino</td>
				</tr>
		 </table>

		<!-- /Contenido Principal-->

{% endblock %}